<!doctype html>
<html ng-app='app'>
<head>
    <title>My Angular App</title>
    <link href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="angular.min.js"></script>
    <script src="moment.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller = 'my-controller'>
<section class="hero is-info is-small is-bold">
    <div class="hero-content">
        <div class="container">
            <h1 class="title">
                PiLights
            </h1>
            <h2 class="subtitle">
                Take Control of your Lights
            </h2>
            <h1 class="title">
                <button ng-click="turnOn()" class="button is-success is-large"><i class="fa fa-sun-o"></i></button>
                <button ng-click="turnOff()" class="button is-warning is-large"><i class="fa fa-moon-o"></i></button>
            </h1>
        </div>
    </div>
</section>

{{asdf}}

<section class="hero is-small is-bold is-left">
    <div class="hero-content">
        <div class="container">
            <h1 class="title">
                <i class="fa fa-clock-o fa-spin"></i>  Alarms
                <br>
                <br>
                <span class="select">
                    <select ng-model="time.hour" ng-options="item for item in getTimes(12) track by item"></select>
                </span>

                <span class="select">
                    <select ng-model="time.min" ng-options="item for item in getTimes(60,1) track by item"></select>
                </span>

                <span class="select">
                    <select ng-model="time.ampm" ng-options="item for item in ['Am','Pm'] track by item"></select>
                </span>
                <a ng-click="addOnTime()" class="button is-success">
                    <i class="fa fa-sun-o"></i>
                </a>
                <a ng-click="addOffTime()" class="button is-warning">
                    <i class="fa fa-moon-o"></i>
                </a>
            </h1>
            <br>
            <h2 class="subtitle" ng-repeat="t in timers track by $index">
                {{t.hour}}:{{t.min}} {{t.ampm}} <i ng-class="t.stat=='on' ? 'fa fa-sun-o green' : 'fa fa-moon-o yellow'"></i>
            </h2>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content is-centered">
            <p>
                <strong>PiLights</strong> by <a href="https://github.com/alextappin">Alex Tappin</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/alextappin/piLights">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>

<style>
    .green {
        color: #97cd76;
    }

    .yellow {
        color: #fce473;
    }
</style>

</body>
</html>